@model FirstMVCProj.Models.Manager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Manager</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manager_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manager_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manager_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manager_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="ManagerDetail">Back to List</a>
</div>
