@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<FirstMVCProj.Models.Emp>
<a asp-action="AddEmployee">Register</a>
    <table class="table">
        <tr>
            <th>EmpId</th>
            <th>Employee Name</th>
            <th>Salary</th>
        </tr>
        @foreach(var item in Model)
        {
          <tr>
              <td>@item.EmpId</td>
              <td>@item.EmpName</td>
              <td>@item.Salary</td>
              <td><a asp-action="Details" asp-route-id="@item.EmpId"> Know More</a></td>
              <td><a asp-action="Edit" asp-route-id="@item.EmpId"></a> Edit</td>
              <td><a asp-action="Delete" asp-route-id="@item.EmpId"> Delete</a></td>
          </tr>
        }

    </table>
